.info{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.info div{
    display: inline;
    margin: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
}

.created{
    color: var(--blue-300);
}

.completed{
    color: var(--purple-300);
}

.completed div, .created div{
    background-color: var(--gray-400);
    border-radius: 999px;
    font-size: 0.75rem;
    color: var(--gray-200);
    padding: 2px 8px;
} 