.task-list{
    display: flex;
    flex-direction: column;
    max-width: 46rem;
    margin: 0 auto;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.tasks{
    overflow-y:scroll;
    overscroll-behavior: contain;
    max-height: 18rem;
}

.tasks::-webkit-scrollbar{
    width: 0px;
}

.tasks::-webkit-scrollbar-track{
    /* -webkit-box-shadow: inset 0 0 6px var(--blue-dark); 
    -webkit-border-radius: 10px;
    border-radius: 10px; */
}

.without-tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.without-tasks svg{
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.without-tasks > p:nth-child(2){
    margin-top: 1rem;
    font-weight: bold;
}


